body {
  text-align: center;
  margin: 10%;
  font-size: 20px;
}

button.btn:focus {
  outline: none;
}

.btn-logout {
  position: absolute;
  top: 30px;
  right: 30px;
}
.account-dragon-row-input {
  width: 100px;
  margin-right: 15px;
}
